BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
SortIncludes: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
PointerAlignment: Left
ReflowComments: true
TabWidth: 4
UseTab: Never
